<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-05-05T06:37:20Z</date>
	<key>WorkspacePath</key>
	<string>/Users/cguo/Desktop/ShuJuKu/数据库操作/数据库操作.xcworkspace</string>
</dict>
</plist>
